#1. Importing Libraries

In [ ]:
import numpy as np
import pandas as pd

**Loading Data**

In [ ]:
t=pd.read_excel('Dataset.xlsx',sheet_name='Transaction')

#2. Data Quality Analysis

2.1 Checking records

In [ ]:
t.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

2.2. Check information of columns and their datatypes

In [ ]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

# 3. Handling Missing Values

In [ ]:
#returns the number of missing values in the dataset
t.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [ ]:
# Find percentage of missing values in each column of a #pandas dataframe
t.isnull().mean()*100

transaction_id             0.000
product_id                 0.000
customer_id                0.000
transaction_date           0.000
online_order               1.800
order_status               0.000
brand                      0.985
product_line               0.985
product_class              0.985
product_size               0.985
list_price                 0.000
standard_cost              0.985
product_first_sold_date    0.985
dtype: float64

**online_order,brand,product_line,product_class,product_size,standard_cost,product_first_sold_date have missing values**

5.1 Online_Order

6. Check what are the possible values for online_order

In [ ]:
#online_order that are null
t[t['online_order'].isnull()]

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
97,98,49,333,2017-06-23,NaN,Approved,Trek Bicycles,Road,medium,medium,533.51,400.13,37823.0
166,167,90,3177,2017-04-26,NaN,Approved,Norco Bicycles,Standard,low,medium,363.01,290.41,38482.0
169,170,6,404,2017-10-16,NaN,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,37838.0
250,251,63,1967,2017-04-11,NaN,Approved,Solex,Standard,medium,medium,1483.20,99.59,42145.0
300,301,78,2530,2017-03-24,NaN,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,35455.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19514,19515,51,690,2017-01-22,NaN,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19573,19574,18,1735,2017-01-15,NaN,Approved,Solex,Standard,medium,medium,575.27,431.45,41345.0
19580,19581,49,1933,2017-10-12,NaN,Approved,Trek Bicycles,Road,medium,medium,533.51,400.13,41064.0
19635,19636,98,1389,2017-07-26,NaN,Approved,Trek Bicycles,Standard,high,medium,358.39,215.03,38002.0
19843,19844,3,8,2017-01-28,NaN,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,37823.0

In [ ]:
#count of null values in online_order before
t['online_order'].isnull().sum()

360

In [ ]:
t['online_order'].mode()

0    1.0
Name: online_order, dtype: float64

In [ ]:
t['online_order'].value_counts()

online_order
1.0    9829
0.0    9811
Name: count, dtype: int64

In [ ]:
#Since count of 1 is more we imputate it in NaN
t['online_order'].fillna(1,inplace=True)

In [ ]:
#count of null values in column online-order is zero
t['online_order'].isnull().sum()

0

5.2 Brand

In [ ]:
#number of brand values which is null
t['brand'].isnull().sum()

197

In [ ]:
#checking other columns corresponding to brand which is null so that we can know the pattern
t[t['brand'].isnull()]

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
136,137,0,431,2017-09-23,0.0,Approved,NaN,NaN,NaN,NaN,1942.61,NaN,NaN
159,160,0,3300,2017-08-27,0.0,Approved,NaN,NaN,NaN,NaN,1656.86,NaN,NaN
366,367,0,1614,2017-03-10,0.0,Approved,NaN,NaN,NaN,NaN,850.89,NaN,NaN
406,407,0,2559,2017-06-14,1.0,Approved,NaN,NaN,NaN,NaN,710.59,NaN,NaN
676,677,0,2609,2017-07-02,0.0,Approved,NaN,NaN,NaN,NaN,1972.01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19340,19341,0,443,2017-12-26,1.0,Approved,NaN,NaN,NaN,NaN,744.54,NaN,NaN
19383,19384,0,2407,2017-06-11,0.0,Approved,NaN,NaN,NaN,NaN,1098.18,NaN,NaN
19793,19794,0,2860,2017-01-13,0.0,Approved,NaN,NaN,NaN,NaN,868.56,NaN,NaN
19859,19860,0,2468,2017-06-24,1.0,Approved,NaN,NaN,NaN,NaN,1497.43,NaN,NaN
19871,19872,0,61,2017-03-17,1.0,Approved,NaN,NaN,NaN,NaN,867.92,NaN,NaN

In [ ]:
#checking brand wrt the other column of concern we see that if brand is Nan others are also nan.
t[t['brand'].isnull()][['brand', 'product_line', 'product_class', 'product_size','standard_cost', 'product_first_sold_date']]
#t[t['brand'].isnull()][['brand', 'product_line', 'product_class', 'product_size','standard_cost', 'product_first_sold_date']].shape[0]

,brand,product_line,product_class,product_size,standard_cost,product_first_sold_date
136,NaN,NaN,NaN,NaN,NaN,NaN
159,NaN,NaN,NaN,NaN,NaN,NaN
366,NaN,NaN,NaN,NaN,NaN,NaN
406,NaN,NaN,NaN,NaN,NaN,NaN
676,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
19340,NaN,NaN,NaN,NaN,NaN,NaN
19383,NaN,NaN,NaN,NaN,NaN,NaN
19793,NaN,NaN,NaN,NaN,NaN,NaN
19859,NaN,NaN,NaN,NaN,NaN,NaN
19871,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#to get the index of the values which have NaN as brand inorder to drop it further
a=t[t['brand'].isnull()][['brand', 'product_line', 'product_class', 'product_size','standard_cost', 'product_first_sold_date']].index

In [ ]:
t[t['brand'].isnull()][['brand', 'product_line', 'product_class', 'product_size','standard_cost', 'product_first_sold_date']]

,brand,product_line,product_class,product_size,standard_cost,product_first_sold_date
136,NaN,NaN,NaN,NaN,NaN,NaN
159,NaN,NaN,NaN,NaN,NaN,NaN
366,NaN,NaN,NaN,NaN,NaN,NaN
406,NaN,NaN,NaN,NaN,NaN,NaN
676,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
19340,NaN,NaN,NaN,NaN,NaN,NaN
19383,NaN,NaN,NaN,NaN,NaN,NaN
19793,NaN,NaN,NaN,NaN,NaN,NaN
19859,NaN,NaN,NaN,NaN,NaN,NaN
19871,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
t.drop(index=a,axis=0,inplace=True)

In [ ]:
t['brand'].isnull().sum()

0

In [ ]:
#checking total missing value after cleaning missing values
t.shape[0]

19803

In [ ]:
t['product_class'].isnull().sum()

0

In [ ]:
t.isnull().sum()

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

Thus solving Brand we also deal with other missing data thus rectifying all the missing values

#4. Data Inconsistency

Data can be inconsistent in non-numeric section so we need to check what are the non-numeric column

In [ ]:
non_numeric = t.select_dtypes(exclude=[np.number])
non_numeric_col = non_numeric.columns.values
non_numeric_col

array(['transaction_date', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size'], dtype=object)

In [ ]:
t['order_status'].value_counts()

order_status
Approved     19625
Cancelled      178
Name: count, dtype: int64

In [ ]:
t['online_order'].value_counts()

online_order
1.0    10097
0.0     9706
Name: count, dtype: int64

In [ ]:
t['brand'].value_counts()

brand
Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: count, dtype: int64

In [ ]:
t['product_line'].value_counts()

product_line
Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: count, dtype: int64

In [ ]:
t['product_class'].value_counts()

product_class
medium    13826
high       3013
low        2964
Name: count, dtype: int64

In [ ]:
t['product_size'].value_counts()

product_size
medium    12990
large      3976
small      2837
Name: count, dtype: int64

#5. Duplicate

In [ ]:
# Check for duplicate rows based on specific columns
df=pd.DataFrame(t)
duplicate_rows_subset = df.duplicated(subset=['transaction_id'])

# Check if there are any duplicates
if duplicate_rows_subset.any():
    print("There are duplicates based on transaction_id.")
else:
    print("There are no duplicates based on transaction_id.")

There are no duplicates based on transaction_id.

#6. Export

In [ ]:
t.to_csv('Transaction_cleaned.csv', index=False)